name: iac

concurrency:
  group: ${{github.workflow}}-${{github.event_name}}


#--------------------------------------------------#
#                     Triggers                     # 
#--------------------------------------------------#
on:

  workflow_call:

    inputs:
      mainBranch:
        type: string
        required: false
        default: master
        description: "Main repository branch may interfere with versioning"
      staticAnalysis:
        type: boolean
        required: false
        default: false
        description: "Enable static analysis scans"
      autoVersioning:
        type: boolean
        required: false
        default: true
        description: "Enable auto versioning with semantic versioning"


#--------------------------------------------------#
#                  Workflow Jobs                   # 
#--------------------------------------------------#
jobs:

  #--------------------------------------------------#
  #                    Setup Jobs                    # 
  #--------------------------------------------------#
  Setup:
    runs-on: ubuntu-latest

    outputs:
      Analysis: ${{ steps.analysis.outputs.result }}
      Environment: ${{ steps.analysis.outputs.environment }}
      Event: ${{ steps.analysis.outputs.event }}

    steps:

      # pre-job
      - name: Setup | Cloning repository
        uses: actions/checkout@v4

      # job
      - name: Pipeline config scrapper
        id: analysis
        uses: andrebrito16/iac-github-actions/.github/actions/config-scrapper@main
        with:
          writeSummary: true


  #--------------------------------------------------#
  #                  Static Analysis                 # 
  #--------------------------------------------------#
  Static-Analysis:
    runs-on: ubuntu-latest
    if: needs.Setup.outputs.Event == 'push'
    needs: Setup

    permissions:
      security-events: write

    steps:

      # pre-job
      - name: Setup | Cloning repository
        uses: actions/checkout@v4
        with:
          fetch-depth: '0'
          persist-credentials: false

      #job
      - name: Run code analysis
        uses: andrebrito16/iac-github-actions/.github/actions/pack-static-code-analysis@main
        if: inputs.staticAnalysis
        with:
          token: ${{secrets.GITHUB_TOKEN}}
          language: ${{ needs.Setup.outputs.Language }}

